body {
  background-color: black;
}
#level-container {
  background: #66ffff;
  height: 600px;
  width: 960px;
  margin-top: 30px;
  margin-left: 0px;
  border: 1px red solid;
}
#sprite-container {
  position: absolute;
  height: 600px;
  width: 960px;
  margin-top: 30px;
  margin-left: 0px;
  z-index=1000;
  top: 0;
  left: 0;
}
#sprite-container .avatar {
  position: absolute;
  background-image: url('/sprites/player_sprite.png');
  background-position: 0px 0px;
  width: 90px;
  height: 95px;
  top: 460px;
  left: 450px;

}
#sprite-container .avatar .avatar-name {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  padding: 3px;
  min-height: 12px;
  max-height: 36px;
  width: 82px;
  position:absolute;
  overflow: hidden;
  top: -35px;
  color: #ffffff;
  background-color: rgba(34, 0, 0, 0.5);
  border: 1px solid #000000;
}

.floor {
  background: url('/sprites/brick.png');
  z-index: 10;
}

#platform3 {
  height: 50px;
  width: 960px;
  position: absolute;
  top: 580px;
}

#platform1 {
  height: 50px;
  width: 300px;
  position: absolute;
  top: 400px;
}

#platform2 {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 380px;
  left: 770px;
}
#platform4 {
  width: 200px;
  height: 50px;
  position: absolute;
  top: 180px;
  left: 400px;
}

#candy1 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 200px;
  left: 200px;
}
#candy2 {
  background: white;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 500px;
  left: 330px;
}
#candy3 {
  background: white;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 100px;
  left: 600px;
}

#candy4 {
  background: white;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 100px;
  left: 100px;
}

#rdtube {
  position: absolute;
  top: 290px;
  left: 870px;
  color: green;
}

.tube {
  background: url('/sprites/warp_tube.png');
  height:90px;
  width: 90px;
}
