body {
/*  background-color: black;*/
  margin:0;
  padding:0;
}
#game-container {
/*  width:960px;
  margin: 30px auto 0 auto;*/
  margin:0 auto;
  position: relative;
}
#level-container {
/*  background: #66ffff;
  height: 600px;
  width: 960px;*/
  margin: 0px;
  position: absolute;
  overflow: hidden;
}
#sprite-container {
  position: absolute;
  overflow: hidden;
/*  height: 600px;
  width: 960px;*/
  margin: 0px;
  z-index: 100;
  top: 0;
  left: 0;
}
#sprite-container .avatar {
  position: absolute;
  background-image: url('/sprites/player_sprite.png');
  background-position: 0px 0px;
  width: 90px;
  height: 95px;
  top: 460px;
  left: 450px;
  z-index: 100;
}
#sprite-container .avatar .avatar-name {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  padding: 3px;
  min-height: 12px;
  max-height: 36px;
  width: 82px;
  position:absolute;
  overflow: hidden;
  top: -35px;
  color: #ffffff;
  background-color: rgba(34, 0, 0, 0.5);
  border: 1px solid #000000;
}
#hud #hud-twitter {
	position: fixed;
  z-index: 1337;
	background-image: url('/images/twitter.png');
	background-position: top left;
	width:126px;
	height:57px;
	right:0;
	bottom:63px;
}
#hud #hud-voteko {
	position: fixed;
  z-index: 1337;
	background-image: url('/images/voteko.png');
	background-position: top left;
	width:126px;
	height:63px;
	right:0;
	bottom:0;
}
#hud #instructions{
  color: #fff;
  background-color: rgba(34, 34, 34, 0.8);
	position: fixed;
	width:140px;
	min-height:120px;
	padding-bottom:12px;
  border:1px solid black;
	right:0;
	top:0;
  text-align: right;
  padding-right: 10px;
}
.bullet {
  position:absolute;
  top:0;
  left:0;
  width:12px;
  height:12px;
  overflow:hidden;
  color: red;
  background-color: red;
  border: 1px solid black;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.life-bar {
  height: 5px;
  background-color: red; /*rgba(256, 0, 0, .5); */
  border: 1px solid white;
}
#death-page {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50000;
  background-color: rgba( 0, 0, 0, 0.8);
  text-align:center;
  color: white;
  font-size: 3em;
  display: none;
}
